<script src="static/top.js"></script>  



<center>
<form action="/calculatefreight" method="post">
<input type="hidden" name="saon" value={{saon}}><input type="submit" value="下一步"></form>
</center>
<center>
<p>
<table border=2px>
<tr>

<td>材料名称
</td>
<td>材料批号
</td>
<td>材料有效期
</td>
<td>材料规格
</td>
<td>材料数量(桶)
</td>
<td>仓库
</td>
</tr>
{% for item in ldf %}

<tr>

<td>{{df.ix[item]["mana"]}}
</td>
<td>{{df.ix[item]["banu"]}}
</td>
<td>{{df.ix[item]["exda"][0:10]}}
</td>
<td>{{df.ix[item]["past"]}}
</td>
<td>{{df.ix[item]["quan"]}}
</td>
<td>{{df.ix[item]["wana"]}}
</td>

</tr>
{% end %}
<tr>
<td>总计重量:
</td>
<td>{{(df["quan"]*df["past"]).sum()}}
</td>
<td>公斤
</td>
<td>总桶数：
</td>
<td>{{df["quan"].sum()}}
</td>
<td>桶
</td>
</tr>




</table>

</p>
<p><center><form action="/salesd" method="get">出货文件号:<input type="text" name="saon" value={{saon}}>出货仓库:<input type="text" name="wana" value={{wana}}>业务员:<input type="text" name="sape" value={{sape}}>业务助理:<input type="text" name="mape" value={{mape}}><input type="submit" value="继续出货"></p>

<p>


</center></p>
<center><h1>本单已挑批号汇总如下：</h1></center>
<center>
<p>
<table border=2px>
<tr>

<td>材料名称
</td>
<td>材料批号
</td>
<td>材料有效期
</td>
<td>材料规格
</td>
<td>材料数量(桶)
</td>
<td>仓库
</td>
</tr>
{% for pitem in lpdddf %}

<tr>

<td>{{pdddf.ix[pitem]["mana"]}}
</td>
<td>{{pdddf.ix[pitem]["banu"]}}
</td>
<td>{{pdddf.ix[pitem]["exda"][0:10]}}
</td>
<td>{{pdddf.ix[pitem]["past"]}}
</td>
<td>{{pdddf.ix[pitem]["quan"]}}
</td>
<td>{{pdddf.ix[pitem]["wana"]}}
</td>

</tr>
{% end %}
<tr>
<td>总计重量:
</td>
<td>{{(pdddf["quan"]*pdddf["past"]).sum()}}
</td>
<td>公斤
</td>
<td>总桶数：
</td>
<td>{{pdddf["quan"].sum()}}
</td>
<td>桶
</td>
</tr>




</table>

</p>

    </body>
</html>
